.main {
	color: grey;
	min-height: 80%;
	padding: 5%;
	background-color: #eee;
}

.item-border {
	padding: 2%;
}


/*** MODAL ***/

.modal-item {
	
}

.modal .image {
	width: 100%;
	display: block;
}

.modal .description h2 {
	margin-top: 2%;
}

.modal .tag {
	font-size: 1.3em;
}

.modal .line {
	width: 20%;
	margin: 4% 0 3% 0;
	border-bottom: 5px solid purple;
}

.modal .similar-margin {
	padding: 0 2%;
}

.modal .similar {
	border: 1px solid #bcbcbc;
	margin: 3%;
	padding: 10% 6%;
}
.modal .similar .image {
	display: block;
	width: 30%;
	margin: 0 auto;
}