/*** MENU BAR ***/

.sticky {
	background-color: orange;
	position: sticky;
	top: 0;
	z-index: 1;
}

.sticky a {
	padding: 1% 2%;
	color: white;
	text-transform: uppercase;
	float: right;
}

.sticky a:hover {
	text-decoration: none;
	background-color: darkorange;
}