/*** ADDITIONAL ***/


/* color: rgb(200, 197, 198); */
.light {
	font-size: 1.4em;
	color: #bcbcbc;
}


/*** HEADER ***/

.jumbotron {
	background-color: orange;
	text-align: center;
	margin-bottom: 0;
	border-radius: 0;
}

.jumbotron p, .jumbotron h1 {
	color: white;
}

// hide advanced search button:
#advanced-search {
	visibility: hidden;
	text-decoration: underline;
	line-height: 2;
	font-size: small;
}
.jumbotron:hover #advanced-search,
#search:focus + #advanced-search {
	visibility: visible;
}
#advanced-search a {
	color: white;
	text-decoration: none;
}