<div class="item">

  <div class="star" (click)="changeFavStatus(beer.id)">
    <img *ngIf="fav;else empty_star" src="assets/images/star-orange.png" alt="favourite" />
    <ng-template #empty_star>
      <img src="assets/images/star-black.png" alt="not a favourite">
    </ng-template>
  </div>

  <!-- beer info -->
  <div class="info" (click)="openModal(beer.id)" data-toggle="modal" data-target="#beerModal">
    <img src="{{beer.image_url}}" alt="{{beer.name}}">
    <h1 class="orange center">{{beer.name}}</h1>
    <p class="light-grey center">{{beer.tagline}}</p>
    

    <br><br><br>
  </div>
</div>